#chat{
  position: absolute;
  bottom: 20px;
  left: 30px;

  .chat-container {
    border: 1px solid #1b4b72;
    padding: 5px;
    width:250px;
    background-color: #fff;

    button.close{
      position: absolute;
      right: 0px;
      top: 8px;
      width: 12px;
      height: 12px;
      background-image: url(/images/svg/close-cross.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      outline: none;
      cursor: pointer;
    }
  }

  #chat-window{
    border: 1px solid #1b4b72;
    border-radius:5px;
    height: 400px;
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    padding-bottom:40px;

    p{
      padding: 10px;
      border: 1px solid #6c757d;
      border-radius:5px;
      font-size: 12px;
    }
  }
}
