<template>
    <div class="container">
        <div class="row justify-content-center"  v-show ='showChat'>
            <div class="row chat-container">
                <span>Chat</span>
                <button class="close" v-on:click="showChat = ! showChat"></button>
                <div id="chat-window">
                        <p v-for="message in messages" readonly="">{{message.login}}: {{message.mess}}</p>
                </div>
                <input placeholder="Напишите сообщение..." type="text" class = 'form-control' v-model="textMessage" @keyup.enter="sendMessage">
            </div>
            <hr>
        </div>
    </div>
</template>


<script>
    export default {
        data: () => ({
            messages: [],
            textMessage: '',
            user:'',
            showChat: true,
        }),
        created() {
           this.getUser();
        },
        mounted() {
            window.Echo.channel('worldmap_database_chat')
                .listen('Message',({message, user})=>{
                    this.messages.push({ login : user, mess: message});
                    console.log(this.messages)
                })
        },
        methods: {
            getUser(){
                axios
                    .get('/getuser').catch((error) => console.log(error.response.data))
                    .then(response => (this.user =response.data))
            },
            sendMessage(){
                document.getElementById('chat-window').scrollTop = document.getElementById('chat-window').scrollHeight;
                axios.post('/messages', { body:this.textMessage});
                this.messages.push({ login : this.user, mess: this.textMessage});
                this.textMessage = '';
            },
        }
    }
</script>
<style>
</style>