<template>
    <div id="ymap" class="container-fluid"></div>

</template>

<script>
    export default {
        data: () => ({
            marks: [],
            markscount: 6,
        }),
        created() {
            this.init();
        },
        methods: {
            async init() {
                //получить все метки из бд
                const marks_data =
                    await axios
                        .get('/map/getmarks').catch((error) => console.log(error.response.data))
                        .then(response =>(this.setMarks(response.data)))
            },

            setMarks(marksdata) {
                const marks = marksdata;
                ymaps.ready(function () {
                    var map = new ymaps.Map("ymap", {
                        center: [55.76, 37.64],
                        zoom: 2
                    });
                    var objectManager = new ymaps.ObjectManager({
                            clusterize: true,
                        }),
                        currentId = 0;

                    var objects = [];
                    for (var i = 0, l=marks.length; i < l; i++) {
                        var coordinate = [ marks[i].longitude, marks[i].latitude ];
                        objects.push({
                            type: 'Feature',
                            id: currentId++,
                            geometry: {
                                type: 'Point',
                                coordinates: coordinate
                            },
                            properties: {
                                 balloonContent: 'id - '+marks[i].id+' Широта - '+marks[i].latitude+' Долгота - '+ marks[i].longitude,
                                        }
                        });
                    }
                    objectManager.add(objects);
                    map.geoObjects.add(objectManager);
                });

            }
        },
    }

</script>
<style>
    #ymap {
        width: 1035px;
        height: 710px;
    }
</style>


